@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
      *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
      }
      body {

       /* font-family: 'Poppins', sans-serif; */
  font-weight: 300;
  line-height: 1.42em;
  color:#111;
  font-size: 1rem;
  /* color:#A7A1AE;
  background-color:#1F2739; 
 background-color: #d8d6ff; 
  
 background-color: #f5eef0; */
 background-color: #f4f4f4;
  
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(216,214,255, 0.8); 
  /* background-color: rgba(128,35,171, 0.5);
  background-color: rgba(0,0,0,0.5);  Black background with opacity */
  z-index: 90; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


  .form-container {
    max-width:700px; 
   height:fit-content;
    margin: auto;

  }

  
  form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    padding: 2rem 2.5rem;
  margin: 2rem auto;
  
  }

  .modal {
  
    overflow-y: scroll;
    position: fixed;
    /*max-height: 95vh;
   left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    */
    display: none;
    
    
    }
  .modalForm {
    margin: auto auto;
    
  }
  .form-container h3{
    margin: 1.5rem 0;
    text-align: center;
  }
  .form-label{
    font-size: 1rem;
    color: #8023AB;
  }
  .btn {
    border:none;
    color: #fff;
    background-color: #2c3e50;
   /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
   
  }

  .btn:hover {
    background: linear-gradient(135deg, #71b7e6, #9b59b6); 
  }

  .form-alert, .form-alert-update {
  color: #842029;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0.5rem;
  display: none;
}

.text-success {
  color: #0f5132;
}

/*  */



table { border-collapse:separate;
  border-spacing:0 2px;
  font-size: 1rem;
 }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
 /*  color: #185875; */
 color:#fff
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
    /*
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
          */
}

.container {
	  text-align: left;
	  overflow: hidden;
	 /* width: 100%; */
	  margin: .5rem auto; 
  display: table;
  /* padding: 0 0 8em 0; */
}

.container td, .container th {
	 /* padding-bottom: 1%; */
	  padding-top: 1%;
  padding-left:1%;
  max-width: 130px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space:pre-line; */
  
 /* border-bottom: 1px solid #bb8ecd; */
   
}

 

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  /* background-color: #323C50; 
     height: 30px;*/
    background-color: #fff;
    
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  /* background-color: #2C3446;
     height:30px; */
    background-color: #fff;
    
}

.container th {
	  /* background-color: #1F2739; *
    background-color: #9b59b6 ;*

    background-color: #18283b; */
   /* background-color: #2c3e50; */
   background-color: #465362;

}

.container td:first-child { 
  /* color: #FB667A; */
  color:#111;

}

.container tr:hover {
  /* background-color: #464A52; */
  background-color: #d8d6ff;
  
}

.empty-list {
  text-align: center;
}

.user-links {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}




.delete-btn,
.edit-link {
  background: transparent;
  font-size: 0.75rem;
  border: transparent;
  cursor: pointer;
}
.edit-btn {
  /* color: #9b59b6; */
  color:#18283b;
  border:none;
  background: transparent;

}
.delete-btn {
  /* color: red; */
  color:#3b1828
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
 visibility: hidden;
}
.btnContainerAdd{
  padding:1rem;
 
  
}

.btnAddList{
	margin-top:4rem;
}

.btnContainerAdd a{
  color:white;
  text-decoration: none;
}

.searchInput{
  border-radius: 30px;
  border: none;
  border-bottom: .5px solid #dadada;
  background-color:#eee;
  height: 2rem;
  padding: 1rem;
}
.btnSearch{
  margin-left: -2rem;
  background-color: #18283b;
  border: none;
  color:white;
  width:2rem;
  border-radius: 0 30px 30px 0;
  padding: .25rem;
}
.defaultStats{
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
  margin-right:2rem;
}

.accepted, .pending, .resolved{
  width: 250px;
  text-align: center;
  background-color: #fff;
  /* color:#9b59b6; */
  color:#18283b;
  height:100px;
  padding: 1rem 1rem;
  
  
  cursor: pointer;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; *
  
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
}
.pending-icon{
display: flex;
align-items: center;


}

.pending-icon i{
padding-left: 3.5rem;
font-size: 1.5rem;
color:grey;
}
.btn-close {
  color: #aaa;
   border:none;
   background: transparent;
    font-size: 28px;
    font-weight: bold;
}

.table-wrapper {
  background-color: #fefdfd;
 /*  margin-top:2.5rem; */
  margin-top: 1rem; 
  padding-top: 1rem;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; *
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: auto;
  border-radius: 5px;
}
.table-wrapper h6{
  padding-left: 1rem;
}
.ticket-wrapper{
  margin: 2rem 2rem;
}

.register-form, .login-form{
  max-width: 550px;
}

.addTicket{
  margin-top:4rem;
  margin-left:1.5rem;
}
.btnContainerAdd .addStaff{
  visibility: hidden;
}
.btnContainerAdd .staff-stat {
  display: block;
  margin-top: 6rem;
  margin-right:2rem;
  float:right;
}

.defaultStaff {
  margin-left:2rem;
}
.btnContainerAdd .deprtmentAdd{
  right: 2rem;
  left: auto;
}

.search-group{
  margin-top: 6rem;
  margin-bottom: 2rem;
}


 .categoryContent, .categoryContentUpdate, .subCategoryContent, .ticketContent, .departmentContent {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/*  */


   /*


@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

*/
.allTickets-wrapper{
  margin-left:58px;
  margin-right: 1rem;
  
}
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 50px;
 /*  width: 250px;
  background-color: #f1f1f1; *
  background-color: #0f0912; */
  background-color: #fefdfd;
  overflow-x:hidden;
  position: fixed;
  height: 100%;
  z-index:2;
  /* overflow: auto;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.sidebar-item{
  display:none;
  margin-left: .5rem;
}
/* Sidebar links */
.sidebar a {
  display: block;
  /*color:#0E1119; */
  color:#18283b;
  padding: 16px;
  text-decoration: none;
}
.sidebar:hover {
  width:200px;
}
.sidebar:hover .sidebar-item{
display:inline-block;
}


/* Active/current link */
.sidebar a.active {
/* background-color: #2c3e50; */
  
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 50px;
  padding: 1px 16px;
 
}

.pagination-container {
  display: flex;
  align-items: center;
  position: absolute;
  /* bottom: 1rem; */
  margin-top: 2rem;
  margin-left: 4rem;
  justify-content: center;
}
.pagination-number,
.pagination-button{
  font-size: 1.1rem;
  background-color: #dadada;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  color:#18283b;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  color:white;
  background:linear-gradient(135deg, #71b7e6, #9b59b6);
}
.pagination-number.active {
  color: #fff;
  background: #0085b6;
}

#pageNumbersContainer button {
  margin: 0 4px;
  padding: 4px 4px;
  cursor: pointer;
  border-radius: 50%;
   border: 0;
}

#pageNumbersContainer .active {
  background-color: #555;
  color: white;
  font-weight: bold;
}


.export-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 1rem;
 
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-right: 1.5rem;
 /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.export-container input[type="date"],
.export-container button {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
}

.export-container input[type="date"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.export-container button {
 
  background-color:#465362;
  color: white;
  border: none;
  cursor: pointer;
}

.export-container button:hover {
 /* background-color: #0056b3; */
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.export-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .export-container {
    flex-direction: column;
    align-items: stretch;
  }
  
}


@media print {
  #printView {
    display: block !important;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;

  }

  input[type="checkbox"] {
    accent-color: black;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body * {
    visibility: hidden;
  }

  #printView, #printView * {
    visibility: visible;
  }
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}